[Global]
log_header=Trial New Header Again    # Header to put at the top of start of log of script

[Model_Parameters]
conv_filters=64         # Number of convolution filters in the first convoluton layer
depth=4                 # Depth of the network
batchnorm=1             # Batch norm to be used in model. Give binary input

[Hyper_Parameters]
epochs=300              # Number of epochs to train the model on
batchsize=32            # Batch size for training
shuffle=1               # Input data to be shuffled or not. Give binary input 1 or 0
seed=1                  # Seed for the random shuffle of the train-validation split
validation_frac=0.20    # Fraction of training data to be used for validation
optimizer=adam          # Optimizer: sgd, rmsprop, adam
lrstart=1e-3            # Initial learning rate
lrscheduler=steplr      # Learning Rate Scheduler: steplr or exponentiallr
momentum=0.95           # Momentum for the SGD optimizaer
decay=100               # Learning rate decay for exponential lr, if steplr is used, then this will denote the steps after which we need to reduce the lr
weight_decay=0          # weight_decay for optimizers
lambda_loss=0.5			# Lambda value for the loss function
loss_type='dice_combo'  # Type of the loss function
mode=transpose        	# Mode to be used during Upsampling
regularization=none    	# Type of regularization to be applied
reg_lamda1=0.001		# Lambda value for L1 regularization 
reg_lamda2=0.001		# Lambda value for L2 regularization

[Files]
datadir=RVData/TrainingSet    # Directory containing the patient data (patientxx/ directory)
model_save_dir=./saved_model  # Directory to save all the models after a fixed number of epochs
save_epochs=100               # Save model after every saveEpochs epochs
logfile=Name of your log file # Name of your log file